body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.header {
  width: 1920px;
  height: 50px;
  background-color: #a71e25;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headcon {
  display: flex;
  align-items: center;
}
.headcon .headleft,
.squad,
.schedule,
.free {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-left: 10px;
  text-align: center;
}
.headlogin {
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin-right: 30px;
}
.headcon > a > img {
  width: 48px;
  height: 48px;
  margin-left: 60px;
}
.headtext {
  display: flex;
  align-items: center;
}
/*header end*/
main {
  min-height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.logbox {
  width: 300px;
  height: 400px;
  background-color: #a71e25;
  border-radius: 16px;
}
.login {
  font-size: 32px;
  font-weight: bold;
  color: white;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}
.ipbox {
  margin: 10px 15px 71px 15px;
}
.id > p {
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin-left: 10px;
}
.id > input {
  width: 242px;
  height: 40px;
  background-color: #453131;
  color: white;
  border-radius: 8px;
  margin: 10px 10px 0 10px;
}
.password > p {
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin: 10px 0 0 10px;
}
.password > input {
  width: 242px;
  height: 40px;
  background-color: #453131;
  color: white;
  border-radius: 8px;
  margin: 10px 0 10px 10px;
}
.sign {
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin: 10px 10px 18px 200px;
}
.loginbox {
  width: 250px;
  height: 60px;
  background-color: #2b0707;
  border-radius: 8px;
  margin: 18px 10px 0 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
/*main end*/
.footer {
  width: 1920px;
  height: 50px;
  background-color: #a71e25;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  padding-bottom: -50px;
}
.footcenter {
  font-size: 16px;
  font-weight: bold;
  color: white;
}
a {
  text-decoration: none;
}
